.container-fluid {
  height: 100vh;
  padding: 0px;
}

.main-content {
  background-color: #111;
  color: #f0f0f0;
}

.main-content {
  background: linear-gradient(135deg, #ff005a, #b812ff);
}

.sidebar {
  width: 110px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

.logo img {
  max-width: 100%;
}

.nav-link {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 20px;
  color: #A39FA9 !important;
}

.nav-link i {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 5px;
}

.nav-link:hover {
  color: #fff !important;
}

.mt-auto {
  margin-top: auto;
}
