<div class="sidebar d-flex flex-column bg-dark text-light p-3">
  <!-- Logo -->
  <div class="logo mb-4 text-center" routerLink="">
    <img src="assets/default-logo.webp" alt="Logo" class="img-fluid" style="width: 40px;">
  </div>

  <!-- Opciones del menú -->
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/docs" routerLinkActive="active">
        <i class="fas fa-book"></i> Docs
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/tutorials" routerLinkActive="active">
        <i class="fas fa-code"></i> Tutorials
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/playground" routerLinkActive="active">
        <i class="fas fa-play"></i> Playground
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/reference" routerLinkActive="active">
        <i class="fas fa-file-alt"></i> Reference
      </a>
    </li>
  </ul>
</div>
